<div><button class="btn" type="button" routerLink="/mHome">Home</button></div>
<div class="container"><label for="emplID" class="empID">Please enter an employee Id: </label>
    <input type="text" id="empID" placeholder="Enter Employee ID" name="empID" [(ngModel)]="employeeId" >
    <button type="button" class="btn" (click)="refresh()">Submit</button>
</div>
<div class="container pt-5 my-5">
    <table class="table table-hover m-3">
        <thead class="table-success">
            <tr>
                <th>Reimbursement ID</th>
                <th>Reimbursement Amount</th>
                <th>Request Pending</th>
                <th>Request Approved</th>
                <th>Date of Request</th>
                <th>Date Resolved</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Reimbursement of allReimbursements">
                <td>{{ Reimbursement.reimbursementId }}</td>
                <td>{{ Reimbursement.reimbursementAmount }}</td>
                <td>{{ Reimbursement.reimbursementPending | pendingNotPending }}</td>
                <td>{{ Reimbursement.requestApproved | approveDeny }}</td>
                <td>{{ Reimbursement.dateOfRequest }}</td>
                <td>{{ Reimbursement.dateResolved }}</td>
            </tr>
        </tbody>
    </table>
</div>