<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">
      <!-- Links -->
      <ul class="navbar-nav">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>
        
        <li class="nav-item">
            <a class="nav-link" routerLink="loginMain">Login</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mHome">Home</a>
        </li>
        
      </ul>
    </div>
  
  </nav>