<div><button class="btn" type="button" routerLink="/mHome">Home</button></div>
<div class="container m-5">
    <form #myFormTemplate="ngForm" (ngSubmit)="makeCall()">
        <div class="card-header">Please enter the ID for the pending reimbursement you would like to view. <div class="small text-danger">{{ errorMessage }}</div></div>

        <div class="card-body"> 
            <div>
                <label for="username" class="form-label">Reimbursement ID:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required
                    #myUsername="ngModel" [(ngModel)]="pendingReimbursement.reimbursementId">
                <div *ngIf="!myUsername.valid" class="small text-danger">*ID is required!</div>
            </div>
        </div>
        <div class="card-footer">
            <button [disabled]="!myFormTemplate.valid" type="submit" class="btn">
                Submit
            </button>
        </div>
    </form>
</div>
<div class="container pt-5 my-5" id="table">
    <table class="table table-hover m-3">
        <thead class="table-success">
            <tr>
                <th>Reimbursement ID</th>
                <th>Requesting Employee ID</th>
                <th>Reimbursement Amount</th>
                <th>Date of Request</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ pendingReimbursement.reimbursementId }}</td>
                <td>{{ pendingReimbursement.requestingEmployeeId }}</td>
                <td>{{ pendingReimbursement.reimbursementAmount }}</td>
                <td>{{ pendingReimbursement.dateOfRequest }}</td>
            </tr>
        </tbody>
    </table>
</div>
<app-app-deny [pendingReimbursement]="pendingReimbursement"></app-app-deny>