<div class="row">
    <div class="col">
        <div class="wrapper">

            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>{{ role }} Operations</h3>
                </div>

                <ul class="list-unstyled components">
                    <!-- <p>Employee Operations</p> -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="view-emp">View Your Employee Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="update-emp">Update Your Employee Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="view-emp-rr">Veiw Your Resolved Reimbursements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="view-emp-pr">View Your Pending Reimbursements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="add-pr">Add a Reimbursement Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="elogout">Logout</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <div class="col">

    </div>
</div>