
<div class="container-fluid" *ngIf="toggleLogin">
    <div class="row" >
        <h1>{{ title }}</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width:400px">
                <img class="card-img-top" contain src="https://images.unsplash.com/photo-1488998527040-85054a85150e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Manager image">
                <div class="card-body">
                    <h4 class="card-title">For Managers</h4>
                    <!-- <p class="card-text">Some example text.</p> -->
                    <a routerLink="mlogin" class="btn" (click)="toggleMainLogin()">Login</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Employee image">
                <div class="card-body">
                    <h4 class="card-title">For Employees</h4>
                    <!-- <p class="card-text">Some example text.</p> -->
                    <a routerLink="elogin" class="btn" (click)="toggleMainLogin()">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>